In [2]:
# 步骤1 导入必要的库
import pandas as pd

In [3]:
# 将数据集存入一个名为chipo的变量中
chipo = pd.read_csv('快餐数据.tsv', sep = '\t')

In [4]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [5]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [6]:
# 步骤7 打印出全部的列名称
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

- order_id: 订单id
- quantity: 数量
- item_name: 项目名称
- choice_description: 选择与描述
- item_price: 项目价格

#### 下单数最多商品(item)是什么?

In [9]:
chipo[['item_name','quantity']].groupby(['item_name']).sum()

                                       quantity
item_name
6 Pack Soft Drink                            55
Barbacoa Bowl                                66
Barbacoa Burrito                             91
Barbacoa Crispy Tacos                        12
Barbacoa Salad Bowl                          10
Barbacoa Soft Tacos                          25
Bottled Water                               211
Bowl                                          4
Burrito                                       6
Canned Soda                                 126
Canned Soft Drink                           351
Carnitas Bowl                                71
Carnitas Burrito                             60
Carnitas Crispy Tacos                         8
Carnitas Salad                                1
Carnitas Salad Bowl                           6
Carnitas Soft Tacos                          40
Chicken Bowl                                761
Chicken Burrito                             591
Chicken Crispy Tacos                         50
Chicken Salad                                 9
Chicken Salad Bowl                          123
Chicken Soft Tacos                          120
Chips                                       230
Chips and Fresh Tomato Salsa                130
Chips and Guacamole                         506
Chips and Mild Fresh Tomato Salsa             1
Chips and Roasted Chili Corn Salsa           23
Chips and Roasted Chili-Corn Salsa           18
Chips and Tomatillo Green Chili Salsa        45
Chips and Tomatillo Red Chili Salsa          50
Chips and Tomatillo-Green Chili Salsa        33
Chips and Tomatillo-Red Chili Salsa          25
Crispy Tacos                                  2
Izze                                         20
Nantucket Nectar                             29
Salad                                         2
Side of Chips                               110
Steak Bowl                                  221
Steak Burrito                               386
Steak Crispy Tacos                           36
Steak Salad                                   4
Steak Salad Bowl                             31
Steak Soft Tacos                             56
Veggie Bowl                                  87
Veggie Burrito                               97
Veggie Crispy Tacos                           1
Veggie Salad                                  6
Veggie Salad Bowl                            18
Veggie Soft Tacos                             8

In [ ]:
chipo[['item_name','quantity']].groupby(['item_name'],as_index=False).sum()

In [10]:
# 通常，pandas中的groupby（）方法在调用完毕之后，会将by之后的列修改为index
# 该参数是控制groupby方法是否需要将列作为新的index。默认是True，
# 为了达到上述目的，我们只需要将其设置为False即可
c = chipo[['item_name','quantity']].groupby(['item_name'],as_index=False).sum()
c.sort_values(['quantity'],ascending=False,inplace=True)
c.head()

              item_name  quantity
17         Chicken Bowl       761
18      Chicken Burrito       591
25  Chips and Guacamole       506
39        Steak Burrito       386
10    Canned Soft Drink       351

### 在item_name这一列中，一共有多少种商品被下单？

In [11]:
chipo['item_name'].nunique()

50

### 在choice_description中，下单次数最多的商品是什么？

In [14]:
# value_counts() 函数可以对Series里面的每个值进行计数并且排序
chipo['choice_description'].value_counts().head()

[Diet Coke]                                                                          134
[Coke]                                                                               123
[Sprite]                                                                              77
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                42
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]     40
Name: choice_description, dtype: int64

#### 总下单数？

In [ ]:

total_items_orders = chipo['quantity'].sum()
total_items_orders

 ####  将item_price转换为浮点数?

In [ ]:
chipo.dtypes

In [15]:
# 
chipo['item_price'] =chipo['item_price'].str.strip('$').astype(float)

In [ ]:
#dollarizer = lambda x: float(x[1:-1])
# chipo['item_price'] = chipo['item_price'].apply(dollarizer)

In [17]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

## Series.apply()
pandas 的 apply() 函数可以作用于 Series 或者整个 DataFrame，功能也是自动遍历整个 Series 或者 DataFrame, 对每一个元素运行指定的函数

#### 在该数据集对应的时期内，收入(revenue)是多少?

In [ ]:
chipo['sub_total'] = round(chipo['item_price'] * chipo['quantity'],2)
chipo['sub_total'].sum()

#### 在该数据集对应的时期内，一共有多少订单？

In [ ]:
chipo['order_id'].nunique()

#### 每一单(order)对应的平均总价是多少？

In [ ]:
chipo[['order_id','sub_total']].groupby(by='order_id').sum()['sub_total'].mean()

In [ ]:
chipo[['order_id','sub_total']].groupby(by=['order_id']).sum()['sub_total'].mean()

#### 一共有多少种不同的商品被售出？

In [ ]:
chipo['item_name'].nunique()